.Home {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
h1 {
  color: aquamarine;
  text-align: center;
}
/* Responsive 600px  */
@media only screen and (max-width: 600px) {
  img {
    width: 90%;
  }
  h1 {
    font-size: 1.5rem;
  }
}